*{
    margin: 0;
    padding: 0;
    font-family:'Roboto',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Desert\ Webpage\ Img/background.png);
background-position: center;
background-size: cover;
padding-left: 8%;
padding-right: 8%;
box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
position: relative;
}
nav ul li a::after {
    content:'';
    width:0;
    height: 3px;
    position: absolute;
    bottom:-5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;


}
nav ul li a:hover::after{
    width: 50%;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 100px;
    background-image: url(Desert\ Webpage\ Img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    


}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
p{
    color: #fff;
    font-size: 11px;
    line-height:15px;
}
button {
    width: 180px;
    
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
   
    margin-top: 30px;
    cursor: pointer;
}
button a{
    color: #000;
    text-decoration: none ;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
   
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
}
.card1{
    background-image:url(Desert\ Webpage\ Img/pic-1.png);
}
.card2{
    background-image:url(Desert\ Webpage\ Img/pic-2.png);
}
.card3{
    background-image:url(Desert\ Webpage\ Img/pic-3.png);
}
.card4{
    background-image:url(Desert\ Webpage\ Img/pic-4.png);
}
.card:hover{
transform:translateY(-10px) ;
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;

}